h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

a {
    color: #1a0dab;
    text-decoration: underline;
}

.card {
    border: 1px solid #d1d5db;
    margin-bottom: 20px;
    padding: 20px;
}

.year-today {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}